<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Add User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
        integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <!-- <link rel="stylesheet" href="../css/shards.min.css"> -->
</head>

<body>
    <!-- Header Section -->
   <!-- Header Section -->
<header>
    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Aggregator MarketPlace</a>
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/getUserslist">Users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/getProductslist">Products</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <form id="logoutForm" action="/logout" method="post">
                        <button type="submit" class="btn btn-link nav-link">Logout</button>
                    </form>
                </li>
            </ul>
        </div>
    </nav>
</header>


    <!-- Main Content Section -->
    <div class="container my-5">
        <h3>Add Users</h3>
        <div class="card">
            <div class="card-body">
                <div class="col-md-10">
                    <form action="#" th:action="@{/updateUser/{id}(id=${user.userid})}" th:object="${users}" method="post">
                        <div class="row">
                            <div class="form-group col-md-8">
                                <label for="username" class="col-form-label">User Name</label>
                                <input type="text" th:field="*{username}" class="form-control" id="username"
                                    placeholder="Name">
                                <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}"
                                    class="text-danger"></span>
                            </div>
                            <div class="form-group col-md-8">
                                <label for="password" class="col-form-label">Password</label>
                                <input type="password" th:field="*{password}" class="form-control" id="email"
                                    placeholder="password">
                                <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}"
                                    class="text-danger"></span>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="roles" class="col-form-label">Roles</label>
                                <select id="role" name="role" required>
                                    <option value="Administration">Administration</option>
                                    <option value="Enterprise">Enterprise</option>
                                    <option value="Producer">Producer</option>
                                    <option value="Consumer">Consumer</option>
                                </select>
                            </div>
                            
                            <div class="form-group col-md-8">
                                <label for="page" class="col-form-label">Page</label>
                                <input type="text" th:field="*{page}" class="form-control" id="page"
                                    placeholder="User Page">
                                <span th:if="${#fields.hasErrors('page')}" th:errors="*{page}"
                                    class="text-danger"></span>
                            </div>

                            <div class="col-md-6">
                                <input type="submit" class="btn btn-primary" value="Update User">
                            </div>

                            <div class="form-group col-md-8"></div>

                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section -->
    <footer>
        <div class="container">
            <hr>
            <p>&copy; 2024 Your App Name. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>
